*.py[cod]
.tox

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
.cache

# Operating System
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*~

# External data cache
cache.sqlite
