[submodule "stix2validator/schemas-2.0"]
	path = stix2validator/schemas-2.0
	url = https://github.com/openmorse/cti-stix2-json-schemas.git
	branch = stix2.0
[submodule "stix2validator/schemas-2.1"]
	path = stix2validator/schemas-2.1
	url = https://github.com/openmorse/cti-stix2-json-schemas.git
	branch = stix2.1
