repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 08a643e0deecd8a81f92adc11eacc1c1d91948b2
    hooks:
    -   id: trailing-whitespace
    -   id: flake8
        args:
        - --max-line-length=160
    -   id: check-merge-conflict
-   repo: https://github.com/FalconSocial/pre-commit-python-sorter
    sha: b57843b0b874df1d16eb0bef00b868792cb245c2
    hooks:
    -   id: python-import-sorter
